.a{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.c{
    border-radius: 100%;
}
.b{
    font-weight: 100;
    font-size: 80%;
}